In [2]:
import numpy as np
import pandas as pd

from luwiji.pandas import illustration

# Membuat DataFrame

In [3]:
contoh_data = {"a": [1, 2, 3], "b": [3, 4, 5], "c": [5, 6, 7]}
pd.DataFrame(contoh_data)

   a  b  c
0  1  3  5
1  2  4  6
2  3  5  7